**Q 7:**

Let'e improve the function in Q6.

It will work the same for the same keys.

But this time we will also include the different keys.

Function name will be **sum_of_same_keys_value_of_distinct_ones**.

**Hints:**
* Check if both parameters are dictionary (dict)
    * if not raise an error -> 'Both parameters must be dictionary type!'
    * to check -> use isinstance() instead of type().
    * isinstance(<variable>, <type>)
* Check if both dictionaries have the same length
    * if not raise an error -> 'Dictionaries must be the same length!'

<pre>
Parameters:
d1 = {'a': 10, 'b': 30, 'c':50}
d2 = {'a': 40, 'b': 60, 'd':90}

Expected Output:
{'a': 50, 'b': 90, 'c': 50, 'd': 90}
</pre>

In [ ]:
# S 7:
def sum_of_same_keys_value_of_distinct_ones(d1, d2):
    all_keys = set(d1.keys()).union(d2.keys())
    result_dict = {}

    for key in all_keys:
        if key in d1 and key in d2:
            result_dict[key] = d1[key] + d2[key]
        elif key in d1:
            result_dict[key] = d1[key]
        elif key in d2:
            result_dict[key] = d2[key]

    return result_dict

In [ ]:
d1 = {'a': 10, 'b': 30, 'c':50}
d2 = {'a': 40, 'b': 60, 'd':90}
sum_of_same_keys_value_of_distinct_ones(d1, d2)

{'a': 50, 'd': 90, 'b': 90, 'c': 50}

**Q 8:**

Define a function named **delete_odds**.

It will take a dictionary as parameter.

It will delete the items with odd indices from the dictionary and return a new dictionary with remaining items.

**Hints:**
* Do not change original dictionary (parameter)
* `items()` for the loop
* `enumerate()` for the index
    
<pre>
Parameter Dictionary:
dictionary = {'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E', 'f': 'F'}

Exptected Output:
 {'a': 'A', 'c': 'C', 'e': 'E'}
</pre>

In [ ]:
# S 8:

# Way 1
def delete_odds(dictionary):
    keys = list(dictionary.keys())
    result_dict = {}

    for index, key in enumerate(keys):
        if index % 2 == 0:
            result_dict[key] = dictionary[key]

    return result_dict

In [ ]:
dictionary = {'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E', 'f': 'F'}

evens = delete_odds(dictionary)

evens

{'a': 'A', 'c': 'C', 'e': 'E'}

**Q 9:**

Define a function named **convert_lists_into_dict**.

It will take two lists as parameters.

The function will use the first list elements as Keys and second list elements as Values and it will create a dictionary.

Then it will return this dictionary.

**Hints:**
* enumerate()

<pre>
Parameters:
l_1 = ['name', 'lastname', 'age', 'gender']
l_2 = ['John', 'Doe', 100, 'Male']

Expected Output:
{'name': 'John', 'lastname': 'Doe', 'age': 100, 'gender': 'Male'}
</pre>

In [ ]:
# S 9:
def convert_lists_into_dict(keys, values):
    dictionary = {}

    for i in range(min(len(keys), len(values))):
        dictionary[keys[i]] = values[i]

    return dictionary

In [ ]:
l_1 = ['name', 'lastname', 'age', 'gender']
l_2 = ['John', 'Doe', 100, 'Male']

employee = convert_lists_into_dict(l_1, l_2)

print(employee)

{'name': 'John', 'lastname': 'Doe', 'age': 100, 'gender': 'Male'}

**Q 10:**

Let's consider a function with keys being both numbers and letters.

Example: {'a': 'A', 'b': 'B', 2: 200, 'd': 'D', 5: 300, 'f': 'F', 1: 50}

Define a function named **alphabetical**.

It will delete the elements with keys being number.

And it will return the final dictionary which has only alphabetical keys.

**Hints:**
* Mutate the original dictionary that is the parameter
* use two loops
* `keys()` for loops
* `pop()` for delete
* to check if alphabetical -> `isalpha()`
* keep in mind `isalpha()` is a string (str) function

<pre>
Parameter Dictionary:
dictionary = {'a': 'A', 'b': 'B', 2: 200, 'd': 'D', 5: 300, 'f': 'F', 1: 50}

Expected Output:
dictionary before calling alphabetical: {'a': 'A', 'b': 'B', 2: 200, 'd': 'D', 5: 300, 'f': 'F', 1: 50}
dictionary after calling alphabetical: {'a': 'A', 'b': 'B', 'd': 'D', 'f': 'F'}
</pre>

In [ ]:
# S 10:
def alphabetical(dictionary):
    result_dict = {}

    for key, value in dictionary.items():
        if isinstance(key, str):
            result_dict[key] = value

    return result_dict

In [ ]:
dictionary = {'a': 'A', 'b': 'B', 2: 200, 'd': 'D', 5: 300, 'f': 'F', 1: 50}
print("dictionary before calling alphabetical:", dictionary)

alphabetical(dictionary)

print("dictionary after calling alphabetical:", dictionary)

dictionary before calling alphabetical: {'a': 'A', 'b': 'B', 2: 200, 'd': 'D', 5: 300, 'f': 'F', 1: 50}
dictionary after calling alphabetical: {'a': 'A', 'b': 'B', 2: 200, 'd': 'D', 5: 300, 'f': 'F', 1: 50}